Source: tuleap-theme-savannah
Section: contrib/tuleap
Priority: extra
Maintainer: Philippe Goetz <philippe.goetz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.tuleap.net/

Package: tuleap-theme-savannah
Architecture: all
Depends: ${misc:Depends} tuleap-core
Description: Savannah theme for Tuleap
