Source: tuleap-plugin-git
Section: contrib/tuleap
Priority: extra
Maintainer: Philippe Goetz <philippe.goetz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.tuleap.net/

Package: tuleap-plugin-git
Architecture: all
Depends: ${misc:Depends}, tuleap-plugins
Description: Git plugin for Tuleap
  Integration of git distributed software configuration management tool together
  with Tuleap

