Source: tuleap-plugin-im
Section: contrib/tuleap
Priority: extra
Maintainer: Philippe Goetz <philippe.goetz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.tuleap.net/

Package: tuleap-plugin-im
Architecture: all
Depends: ${misc:Depends} tuleap
Description: Instant Messaging Plugin for Tuleap
  Provides instant messaging capabilities, based on a Jabber/XMPP server.

