#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

clean build:
	@echo "Nothing to $@"

binary:
	dh_testdir
	dh_testroot
	dh_install cardwall /usr/share/codendi/plugins/
	dh_gencontrol
	dh_md5sums
	dh_builddeb
