Source: tuleap-theme-steerforge
Section: contrib/tuleap
Priority: extra
Maintainer: Philippe Goetz <philippe.goetz@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Homepage: http://www.tuleap.net/

Package: tuleap-theme-steerforge
Architecture: all
Depends: ${misc:Depends} tuleap
Description: SteerForge theme for Tuleap
